<div class="nav-wrap" style="border-bottom: solid 1px #e7e9ed;">
  <ng-container *ngIf="arrayUtil.isInArray([0], pType)">
    <!-- 추가 상단 메뉴 -->
    <div [@scrollOffset]="scrollOffsetState" style="border-bottom: solid 1px #F3F3F3;">
      <div class="ui container min-width min-height-nav nav-sub">
        <!-- left menu -->
        <div style="position: absolute; top: 10px; left: 24px;">
          <img [attr.src]="baseUrl + '/static/common/image/nav-left1.png'"
               [routerLink]="['/']"
               style="cursor: pointer;"
          >
        </div>

        <!-- right menu -->
        <div class="right" style="line-height: 60px; letter-spacing: -1px;">
          <!-- [!]비로그인 상태에서만 -->
          <span class="cursor">
          로그인
        </span>
          <div class="separator">|</div>
          <span class="cursor">
          회원가입
        </span>
          <div class="separator">|</div>

          <span class="cursor" [routerLink]="['/help']">
          고객센터
        </span>
          <div class="separator">|</div>
          <span class="cursor" [routerLink]="['/static/intro']">
          더 알아보기
        </span>
        </div>
      </div>
    </div>


    <!-- 기본 메뉴 -->
    <div>
      <div class="ui container min-width min-height-nav" style="position: relative; padding-left: 24px;">
        <!-- left menu -->
        <div class="nav-cell" [routerLink]="['/']">
          홈
        </div>
        <div class="nav-cell">
          포스트
        </div>
        <div class="nav-cell">
          동영상 강의
        </div>
        <div class="nav-cell">
          컨텐츠 마켓
        </div>
        <div class="nav-cell">
          개발/디자인 의뢰
        </div>
        <div class="nav-cell">
          커뮤니티
        </div>

        <!-- right icon -->
        <div class="right" style="line-height: 60px;">
          <div class="nav-right-cell cursor">
            <input class="nav-search" type="text" placeholder="&#xF002; 통합검색"
                   [@focusSearch]="focusSearchState"
                   (focus)="focusSearchState='focus';"
                   (blur)="focusSearchState='blur';"
            />
          </div>

          <!-- [!] 로그인 상태에서만 -->
          <div class="nav-right-cell cursor">
            <i class="envelope icon"></i>
          </div>
          <div class="nav-right-cell cursor">
            <i class="bell icon"></i>
          </div>
          <div class="nav-right-cell cursor">
            <i class="user icon"></i>
          </div>

        </div>
      </div>
    </div>
  </ng-container>
</div>
