.idea/

bin/
pkg/

src/rsc.io/
src/golang.org/
src/github.com/
src/golang.org/
src/sourcegraph.com/
src/cloud.google.com/
src/google.golang.org/

prod/
prod_/
node_modules/

var/
*.log
*.cache
*.iml
package-lock.json